table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    @for $i from 1 through 5 {
        .table_row_#{$i} {
            @if $i == 1 {
                font-size: 12px;
            } @else if $i == 2 {
                font-size: 14px;
            } @else if $i == 3 {
                font-size: 16px;
            } @else if $i == 4 {
                font-size: 13px;
            } @else if $i == 5 {
                font-size: 10px;

                td:last-child {
                    font-style: italic;
                }
            }
        }
    }
}